<?xml version="1.0" encoding="utf-8"?>
<cycom>
    <record id="action_branch_allowed_products" model="ir.actions.act_window">
        <field name="name">Branch Allowed Products</field>
        <field name="res_model">product.template</field>
        <field name="view_mode">list,form</field>
        <field name="domain">[('branch_allowed','=',True)]</field>
        <field name="context">{}</field>
    </record>

    <menuitem id="menu_branch_allowed_products"
              name="Branch Allowed Products"
              parent="stock.menu_stock_config_settings"
              action="action_branch_allowed_products"
              sequence="90"/>
</cycom>
